{
  "presets": [
    [
      "@babel/preset-env",
    { 
      "useBuiltIns": "usage",
      "corejs": {
          "version": 2,
          "proposals": true
        } 
      }
  ],"@babel/preset-react"],
  "plugins": [
    "syntax-dynamic-import"
  ]
}
