
.app-nav{
  overflow: hidden;
  position: fixed;
  top:75px;
  left:0;
  bottom:0;
  height: calc(100vh - 75px);
  background: #393D49 ;
}
.nav-list{
  padding: 10px 20px;
  width: 200px;
  box-sizing: border-box;
  list-style: none;
}
.nav-list li,.nav-list a{
  line-height: 45px;
  color: #fff;
}
.app-box{
  width: calc(100% - 200px);
  margin-left: 200px;
  overflow: hidden;
}

a,
button {
  transition: color 0.3s ease;
}