
.app-nav{
  float: left;
  width: 200px;
  height: calc(100vh - 64px);
  background: #393D49 ;
}
.nav-list{
  width: 200px;
  box-sizing: border-box;
  list-style: none;
}
.nav-list li{
  padding: 10px 20px;
  transition: background-color .3s ease-in;
}
.nav-list li:hover{
  background-color: goldenrod;
}
.nav-list a{
  line-height: 45px;
  color: #fff;
}
.app-box{
  width: calc(100% - 200px);
  overflow: hidden;
}

a,
button {
  transition: color 0.3s ease;
}